<template>
  <div class="container">
    <h1 class="text-center">Gestionar tareas</h1>
    <hr>
    <!-- Button trigger modal -->
    <div class="row align-items-center">
      <div class="col-3 pb-sm-3">
        <label class="mb-sm-0">Seleccione el estado de la tarea</label>
        <select class="form-control" v-model="pagination.finalizada" @change="listar()">
          <option value="2" selected="selected">Todas</option>
          <option value="1">Finalizada</option>
          <option value="0">No Finalizada</option>
        </select>
      </div>
      <div class="col-3 pb-sm-3">
        <label class="mb-sm-0">¿Consultar solo mis tareas?</label>
        <select class="form-control" v-model="pagination.mis_tareas" @change="listar()">
          <option value="0">No</option>
          <option value="1">Sí</option>
        </select>
      </div>
      <div class="col-6 text-right">
        <button @click="modificar=0;abrirModal();" type="button" class="btn btn-primary " >
          Crear tarea
        </button>
      </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal" :class="{ mostrar:modal }" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ titulo_modal }}</h5>
            <button @click="cerrarModal()" type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div>
              <label class="mb-sm-0">Nombre</label>
              <input v-model="tarea.nombre" type="text" class="form-control" name="nombre" placeholder="Nombre de la tarea">
              <span class="text-danger" v-if="errores.nombre">{{ errores.nombre[0] }}</span>
            </div>
            <div class="pt-1">
              <label class="mb-sm-0">Descripción</label>
              <textarea name="descripcion" placeholder="Descripción de la tarea" v-model="tarea.descripcion" class="form-control" ></textarea>
              <span class="text-danger" v-if="errores.descripcion">{{ errores.descripcion[0] }}</span>
            </div>
            <div class="form-check pt-1">
              <input v-model="tarea.finalizada" class="form-check-input" type="checkbox" value="1"  name="finalizada" id="finalizada">
              <label class="form-check-label" for="finalizada">
                Finalizada
              </label>
            </div>
            <div>
              <label class="mb-sm-0">Fecha de vencimiento</label>
              <input v-model="tarea.fecha_vencimiento" type="date" class="form-control" name="fecha_vencimiento">
              <span class="text-danger" v-if="errores.fecha_vencimiento">{{ errores.fecha_vencimiento[0] }}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button @click="guardar(tarea_id)" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
        </div>

      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Creación</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Finalizada</th>
        <th scope="col">Vencimiento</th>
        <th scope="col">Usuario creador</th>
        <th scope="col" colspan="2" class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="tar in tareas.data" :key="tar.id">
          <td scope="row">{{ tar.id }}</td>
          <td>{{ formatoFecha(tar.created_at) }}</td>
          <td>{{ tar.nombre }}</td>
          <td>{{ tar.descripcion }}</td>
          <td><p v-if="tar.finalizada"> Sí </p><p v-else>No</p></td>
          <td>{{ tar.fecha_vencimiento }}</td>
          <td ><p v-for="usuario in usuarios" v-if="usuario.id == tar.user_id"> {{ usuario["name"] }} </p></td>
          <td>
            <button @click="modificar=1;abrirModal(tar)" class="btn btn-info" :class="{disabled : user_id != tar.user_id}">Editar</button>
          </td>
          <td>
            <button @click="eliminar(tar.id)" class="btn btn-danger" :class="{disabled : user_id != tar.user_id}">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-4 md-4">
        {{ tareas.from }} - {{ tareas.to }} de {{ tareas.total }}
      </div>
      <div class="col-2 md-2">
        <select class="form-control" v-model="pagination.per_page" @change="listar();">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="col-6 md-6">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled : pagination.page == 1 }"><a class="page-link" @click="pagination.page=1;listar();" href="#"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="page-item" :class="{ disabled : pagination.page == 1 }"><a class="page-link" @click="pagination.page--;listar();" href="#"><span aria-hidden="true">&lt;</span></a></li>
            <li class="page-item" v-for="n in paginas" :key="n" :class="{ active : pagination.page == n}"><a class="page-link" @click="pagination.page=n;listar();" href="#">{{ n }}</a></li>
            <li class="page-item" :class="{ disabled : pagination.page == tareas.last_page }"><a class="page-link" @click="pagination.page++;listar();" href="#"><span aria-hidden="true">&gt;</span></a></li>
            <li class="page-item" :class="{ disabled : pagination.page == tareas.last_page }"><a class="page-link" @click="pagination.page=tareas.last_page;listar();" href="#"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
  XDate.locales['es'] = {
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab']
  };

  export default{
    data(){
      return {
        user_id : "",
        errores:{},
        tarea_id:"",
        tarea:{
          nombre:"",
          descripcion:"",
          finalizada:"",
          fecha_vencimiento:"",
        },
        modificar:true,
        modal:0,
        titulo_modal:"",
        tareas:[],
        usuarios:[],
        pagination:{
          page:1,
          per_page:5,
          finalizada:2,
          mis_tareas:0,
        },
        paginas : [],
      }
    },
    methods:{
      async listar(){
        const res = await axios.get("tareas/consultar",{params: this.pagination});
        this.tareas = res.data["tareas"];
        this.usuarios = res.data["usuarios"];
        this.listarPaginas();
      },
      listarPaginas(){
        const n = 2;
        let arrayNumeros = [];
        let ini = this.pagination.page - 2;
        if(ini < 1)
          ini = 1;
        let fin = this.pagination.page + 2;
        if(fin > this.tareas.last_page)
          fin = this.tareas.last_page;
        for(let i=ini; i <= fin; i++){
          arrayNumeros.push(i);
        }
        this.paginas = arrayNumeros;

      },
      async eliminar(tarea_id){
        const res = await axios.post("tareas/borrar/"+tarea_id);
        this.listar ();
      },
      abrirModal(data={}){
        this.modal=1;
        if(this.modificar) {
          this.titulo_modal = "Editar tarea";
          this.tarea.nombre = data.nombre;
          this.tarea.descripcion = data.descripcion;
          this.tarea.finalizada = data.finalizada;
          this.tarea.fecha_vencimiento = data.fecha_vencimiento;
          this.tarea_id = data.id;
        }
        else {
          this.tarea_id = 0;
          this.titulo_modal = "Crear tarea";
          this.tarea.nombre = "";
          this.tarea.descripcion = "";
          this.tarea.finalizada = false;
          this.tarea.fecha_vencimiento = "";
        }
      },
      cerrarModal(){
        this.modal=0;
        this.errores = {};
      },
      async guardar(tarea_id=0){
        try{
          if(this.modificar) {
            const res = await axios.post("tareas/actualizar/"+tarea_id,this.tarea);
          }
          else {
            const res = await axios.post("tareas/crear", this.tarea);
          }
          this.modificar=0;
          this.cerrarModal();
          this.listar();
        }catch (error){
          if(error.response.data) {
            this.errores = error.response.data.errors
          }
        }
      },
      verificarUsuarioId(){
        if(document.head.querySelector('meta[name="user_id"]').content != "") {
          this.user_id = document.head.querySelector('meta[name="user_id"]').content;
        }
      },
      formatoFecha(fecha){
        var datetime = new XDate(fecha).toString("dd-MM-yyyy", "es");
        return datetime;
        //return moment(fecha).format('MMMM Do YYYY, h:mm:ss a');
      }
    },
    created() {
      this.verificarUsuarioId();
      this.listar();
    }

  }
</script>
<style>
.mostrar{
  display: list-item;
  opacity: 100%!important;
  background: rgba(44,38,75,0.849);
}
</style>
