<template>
  <div class="container">
    <h1 class="text-center">Gestionar Usuarios</h1>
    <hr>
    <!-- Button trigger modal -->
    <div class="row align-items-center">
      <div class="col-12 text-right pb-sm-3">
        <a href="/register" class="btn btn-primary " >
          Crear usuario
        </a>
      </div>
    </div>
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal" :class="{ mostrar:modal }" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ titulo_modal }}</h5>
            <button @click="cerrarModal()" type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div>
              <label class="mb-sm-0">Nombre</label>
              <input v-model="usuario.name" type="text" class="form-control" name="name" placeholder="Nombre del usuario">
              <span class="text-danger" v-if="errores.name">{{ errores.name[0] }}</span>
            </div>
            <div class="pt-1">
              <label class="mb-sm-0">Correo electrónico</label>
              <input v-model="usuario.email" type="email" class="form-control" name="email" placeholder="Email del usuario">
              <span class="text-danger" v-if="errores.email">{{ errores.email[0] }}</span>
            </div>
            <div>
              <label class="mb-sm-0">Seleccione un rol</label>
              <select class="form-control" v-model="usuario.rol_id" >
                <option value="2">Creador de contenido</option>
                <option value="1">Administrador</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button @click="guardar(usuario_id)" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
        </div>

      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col" colspan="2" class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="usuario in usuarios.data" :key="usuario.id">
        <td scope="row">{{ usuario.id }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td class="text-right">
          <button @click="modificar=1;abrirModal(usuario)" class="btn btn-info">Editar</button>
        </td>
        <td class="text-left">
          <button @click="eliminar(usuario.id)" class="btn btn-danger" :class="{ disabled : usuario.id == user_id }">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-4 md-4">
        {{ usuarios.from }} - {{ usuarios.to }} de {{ usuarios.total }}
      </div>
      <div class="col-2 md-2">
        <select class="form-control" v-model="pagination.per_page" @change="listar();">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="col-6 md-6">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled : pagination.page == 1 }"><a class="page-link" @click="pagination.page=1;listar();" href="#"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="page-item" :class="{ disabled : pagination.page == 1 }"><a class="page-link" @click="pagination.page--;listar();" href="#"><span aria-hidden="true">&lt;</span></a></li>
            <li class="page-item" v-for="n in paginas" :key="n" :class="{ active : pagination.page == n}"><a class="page-link" @click="pagination.page=n;listar();" href="#">{{ n }}</a></li>
            <li class="page-item" :class="{ disabled : pagination.page == usuarios.last_page }"><a class="page-link" @click="pagination.page++;listar();" href="#"><span aria-hidden="true">&gt;</span></a></li>
            <li class="page-item" :class="{ disabled : pagination.page == usuarios.last_page }"><a class="page-link" @click="pagination.page=usuarios.last_page;listar();" href="#"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      user_id : "",
      errores:{},
      usuario_id : "",
      usuario:{
        name:"",
        email:"",
        rol_id:"",
      },
      modificar:true,
      modal:0,
      titulo_modal:"",
      usuarios:[],
      pagination:{
        page:1,
        per_page:5,
      },
      paginas : [],
    }
  },
  methods:{
    async listar(){
      const res = await axios.get("users/consultar/1",{params: this.pagination});
      this.usuarios = res.data;
      this.listarPaginas();
    },
    listarPaginas(){
      const n = 2;
      let arrayNumeros = [];
      let ini = this.pagination.page - 2;
      if(ini < 1)
        ini = 1;
      let fin = this.pagination.page + 2;
      if(fin > this.usuarios.last_page)
        fin = this.usuarios.last_page;
      for(let i=ini; i <= fin; i++){
        arrayNumeros.push(i);
      }
      this.paginas = arrayNumeros;

    },
    async eliminar(user_id){
      const res = await axios.post("users/borrar/"+user_id);
      this.listar ();
    },
    abrirModal(data={}){
      this.modal=1;
      if(this.modificar) {
        this.titulo_modal = "Editar usuario";
        this.usuario.name = data.name;
        this.usuario.email = data.email;
        this.usuario.rol_id = data.rol_id;
        this.usuario_id = data.id;
      }
    },
    cerrarModal(){
      this.modal=0;
      this.errores = {};
    },
    async guardar(usuario_id=0){
      try{
        const res = await axios.post("users/actualizar-usuario/"+usuario_id,this.usuario);
        this.cerrarModal();
        this.listar();
      }catch (error){
        if(error.response.data) {
          this.errores = error.response.data.errors;
        }
      }
    },
    verificarUsuarioId(){
      if(document.head.querySelector('meta[name="user_id"]').content != "") {
        this.user_id = document.head.querySelector('meta[name="user_id"]').content;
      }
    },
  },
  created() {
    this.verificarUsuarioId();
    this.listar();
  },
}
</script>

<style scoped>

</style>
